#pc-wrap,
#mobile-wrap {
	#member-properties-page {
		width: 100%;

		.vehicle-grid {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 22px;
		}
	}
}

#mobile-wrap {
	#member-properties-page {
		.vehicle-grid {
			grid-template-columns: 1fr;
			gap: 16px;
		}
	}
}
